# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# IDEs and editors
.idea/
.vscode/

# Jupyter Notebooks
.ipynb_checkpoints/

# Logs
*.log

# 忽略my_config.ini文件
my_config.ini